body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0,0,0);
}

.element .text {
  float: left;
}

.text {
  font-weight: 400;
  line-height: 1.38;
}

._element {
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  width: 960px;
  height: 633px;
  margin: auto;
  background-color: rgb(255, 251, 215);
}

.element-1 {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 17px;
  background-color: rgb(20, 16, 16);
}

.element-3 {
  position: absolute;
  top: 246px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 735px;
  margin: auto;
  padding-bottom: 19px;
  background-color: rgb(222, 222, 222);
}

.element-4 {
  position: absolute;
  top: 454px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 735px;
  margin: auto;
  padding-bottom: 19px;
  background-color: rgb(222, 222, 222);
}

.text-1 {
  width: 6.875%;
  margin: 18px 0 0 1.5625%;
  color: rgb(255, 255, 255);
}

.text-10 {
  margin: 18px 0 0 22.7210884354%;
  color: rgb(0,0,0);
}

.text-11 {
  margin: 18px 0 0 23.1292517007%;
  color: rgb(0,0,0);
}

.text-12 {
  position: absolute;
  top: 390px;
  left: 26.1666666667%;
  z-index: 1;
  font-size: 2.5em;
  color: rgb(0,0,0);
}

.text-13,
.text-6 {
  margin: 21px 0 0 7.2108843537%;
  border-bottom: 2px double rgb(38, 38, 38);
  color: rgb(0,0,0);
}

.text-14,
.text-7 {
  width: 6.9387755102%;
  margin: 23px 0 0 26.3945578231%;
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(0,0,0);
}

.text-15,
.text-8 {
  margin: 23px 0 0 21.0884353741%;
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(0,0,0);
}

.text-16,
.text-9 {
  clear: both;
  margin: 18px 0 0 11.0204081633%;
  color: rgb(0,0,0);
}

.text-17 {
  margin: 18px 0 0 19.4557823129%;
  color: rgb(0,0,0);
}

.text-18 {
  margin: 18px 0 0 25.1700680272%;
  color: rgb(0,0,0);
}

.text-2 {
  margin: 18px 0 0 12.5%;
  color: rgb(255, 255, 255);
}

.text-3 {
  margin: 18px 0 0 5.8333333333%;
  color: rgb(255, 255, 255);
}

.text-4 {
  margin: 18px 0 0 4.5833333333%;
  color: rgb(255, 255, 255);
}

.text-5 {
  position: absolute;
  top: 179px;
  left: 26.1666666667%;
  z-index: 3;
  font-size: 2.5em;
  color: rgb(0,0,0);
}

@media(max-width: 480px) {
  ._element {
    width: 480px;
  }

  .element-3 {
    top: 322px;
    z-index: 4;
    width: 67.9166666667%;
    padding-bottom: 7px;
  }

  .element-4 {
    top: 140px;
    z-index: 2;
    width: 67.9166666667%;
    padding-bottom: 7px;
  }

  .text-10 {
    margin-top: 23px;
    margin-left: 10.736196319%;
    font-size: 0.813em;
  }

  .text-11 {
    margin-top: 23px;
    margin-left: 3.3742331288%;
    font-size: 0.813em;
  }

  .text-12 {
    top: 270px;
    left: 15%;
    z-index: 1;
    font-size: 1.875em;
  }

  .text-13,
  .text-6 {
    margin-left: 6.4417177914%;
    font-size: 0.813em;
  }

  .text-14,
  .text-7 {
    width: 12.8834355828%;
    margin-left: 17.7914110428%;
    font-size: 0.813em;
  }

  .text-15,
  .text-8 {
    margin-left: 12.5766871166%;
    font-size: 0.813em;
  }

  .text-16,
  .text-9 {
    margin-top: 23px;
    margin-left: 9.8159509202%;
    font-size: 0.813em;
  }

  .text-17 {
    margin-top: 23px;
    margin-left: 3.9877300613%;
    font-size: 0.813em;
  }

  .text-18 {
    margin-top: 23px;
    margin-left: 7.3619631902%;
    font-size: 0.813em;
  }

  .text-5 {
    top: 84px;
    left: 15%;
    z-index: 3;
    font-size: 1.875em;
  }

}
@media(max-width: 320px) {
  body {
    font-size: 1em;
  }

  ._element {
    top: 49px;
    width: 318px;
    height: 459px;
  }

  .element-1 {
    width: 100%;
    padding-bottom: 12px;
  }

  .element-3 {
    top: 279px;
    z-index: 4;
    padding-bottom: 17px;
  }

  .element-4 {
    top: 108px;
    z-index: 2;
    padding-bottom: 17px;
  }

  .text-1 {
    width: 20.625%;
    margin-top: 14px;
  }

  .text-10 {
    margin-top: 6px;
    margin-left: 10.1382488479%;
    font-size: 0.563em;
  }

  .text-11 {
    margin-top: 6px;
    margin-left: 2.3041474654%;
    font-size: 0.563em;
  }

  .text-12 {
    top: 234px;
    z-index: 1;
    font-size: 1.5em;
  }

  .text-14,
  .text-7 {
    width: 19.3251533742%;
    margin-left: 11.9815668203%;
  }

  .text-15,
  .text-8 {
    margin-left: 6.4516129032%;
  }

  .text-16,
  .text-9 {
    margin-top: 6px;
    font-size: 0.563em;
  }

  .text-17 {
    margin-top: 6px;
    margin-left: 2.7649769585%;
    font-size: 0.563em;
  }

  .text-18 {
    margin-top: 6px;
    margin-left: 6.4516129032%;
    font-size: 0.563em;
  }

  .text-2 {
    margin-top: 14px;
    margin-left: 20%;
  }

  .text-3 {
    margin-top: 14px;
  }

  .text-4 {
    margin-top: 14px;
    margin-left: 5.625%;
  }

  .text-5 {
    top: 69px;
    z-index: 3;
    font-size: 1.5em;
  }

}
