body {
  background-color: rgb(255, 255, 255);
  font: 400 1.5em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

img {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.element {
  width: 960px;
}

.element .text {
  float: left;
  margin-top: 18px;
  font-size: 0.667em;
  color: rgb(255, 255, 255);
}

.text {
  font-weight: 400;
  line-height: 1.38;
}

._container {
  margin: 0 auto;
  padding-bottom: 17px;
  background-color: rgb(20, 16, 16);
}

._element {
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  height: 851px;
  margin: auto;
  background-color: rgb(255, 251, 215);
}

.text-1 {
  width: 6.875%;
  margin-left: 1.5625%;
}

.text-2 {
  margin-left: 12.5%;
}

.text-3 {
  margin-left: 5.8333333333%;
}

.text-4 {
  margin-left: 4.5833333333%;
}

.text-5 {
  position: absolute;
  top: 75px;
  left: 20.75%;
  z-index: 2;
  font-size: 1.667em;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: absolute;
  top: 150px;
  left: 23.5833333333%;
  z-index: 3;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: absolute;
  top: 406px;
  left: 23.5833333333%;
  z-index: 5;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: absolute;
  top: 654px;
  left: 23.5833333333%;
  z-index: 7;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._image-1 {
  top: 183px;
  z-index: 4;
  width: 414px;
}

._image-2 {
  top: 455px;
  z-index: 6;
  width: 391px;
}

._image-3 {
  top: 702px;
  z-index: 1;
  width: 389px;
}

@media(max-width: 480px) {
  img {
    height: auto;
  }

  ._element {
    width: 480px;
  }

  .text-5 {
    top: 71px;
    left: 10%;
    z-index: 2;
    font-size: 1.25em;
  }

  .text-6 {
    top: 125px;
    left: 15%;
    z-index: 3;
    font-size: 0.75em;
  }

  .text-7 {
    top: 350px;
    left: 15%;
    z-index: 5;
    font-size: 0.75em;
  }

  .text-8 {
    top: 571px;
    left: 15%;
    z-index: 7;
    font-size: 0.75em;
  }

  ._image-1 {
    top: 158px;
    z-index: 4;
    width: 359px;
  }

  ._image-2 {
    top: 397px;
    z-index: 6;
    width: 337px;
  }

  ._image-3 {
    top: 628px;
    z-index: 1;
    width: 337px;
  }

}
@media(max-width: 320px) {
  body {
    font-size: 1.5em;
  }

  img {
    height: auto;
  }

  .element .text {
    margin-top: 14px;
  }

  ._container {
    width: 100%;
    padding-bottom: 12px;
  }

  ._element {
    top: 49px;
    width: 318px;
    height: 522px;
  }

  .text-1 {
    width: 20.625%;
  }

  .text-2 {
    margin-left: 20%;
  }

  .text-4 {
    margin-left: 5.625%;
  }

  .text-5 {
    top: 61px;
    z-index: 2;
    font-size: 1em;
  }

  .text-6 {
    top: 119px;
    z-index: 3;
    font-size: 0.583em;
  }

  .text-7 {
    top: 258px;
    z-index: 5;
    font-size: 0.583em;
  }

  .text-8 {
    top: 399px;
    z-index: 7;
    font-size: 0.583em;
  }

  ._image-1 {
    top: 138px;
    z-index: 4;
    width: 217px;
  }

  ._image-2 {
    top: 292px;
    z-index: 6;
    width: 207px;
  }

  ._image-3 {
    top: 438px;
    z-index: 1;
    width: 211px;
  }

}